body {
  font-family: Tahoma, Arial;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  width: 300px;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
}

#count {
  font-size: 64px;
  margin: 20px 0;
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}
