body {
  font-family: Tahoma, Arial;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.app {
  text-align: center;
  width: 320px;
}

#map-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 15px auto;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 1px solid #ccc;
}

#user-marker {
  position: absolute;
  width: 20px;
  height: 20px;
  background: blue;
  border-radius: 50%;
  top: 140px; /* نقطة البداية تقريبية */
  left: 140px;
  transform: translate(-50%, -50%);
}

.buttons button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
}
